@model WebRuou.Models.ruou

@{
    ViewBag.Title = "Chitietruou";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Chi Tiet SP</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên SP : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenruou)
        </dd>

        <dt>
            Gía Bán :
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô Tả:
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh Bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/image/"+  Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày Cập Nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat) VNĐ
        </dd>

        <dt>
            Số Lượng Tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
           Mã Loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai.Tenloai)
        </dd>

        <dt>
            Nhà Cung Cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhacungcap.TenNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều Chỉnh", "Sữa", new { id = Model.Maruou }) |
    @Html.ActionLink("Trở Về", "ruou")
</p>
