@model WebRuou.Models.ruou

@{
    ViewBag.Title = "ThemmoiRuou";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Them SP Moi</h2>

@*Them thuoc tinh cho form de upload anh*@
@using (Html.BeginForm("ThemmoiRuou", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sản Phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tenruou, "Tên sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tenruou, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tenruou, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, "Giá bán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, "Mô tả", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota"></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anhbia, "Ảnh bìa", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileUpload" />
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, "Ngày cập nhật", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, "Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maloai, "Mã loại", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, "Mã NCC",new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="THÊM MỚI" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quản lý SP", "ruou")
</div>
